<ion-view view-title="Patients">
  <ion-tabs class="tabs-striped tabs-icon-top tabs-top st-tab_second">
    <ion-tab title="Activity">
      <ion-view view-title="Filter">
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
              {{playlist.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Alphabetical">
      <ion-view view-title="Filter">
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="playlist in playlists1" href="#/app/playlists/{{playlist.id}}">
              {{playlist.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Room">
      <ion-view view-title="Filter">
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="playlist in playlists2" href="#/app/playlists/{{playlist.id}}">
              {{playlist.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
