<ion-view view-title="Patients">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="patietnt in patietnts.all" href="#/app/playlists/{{playlist.id}}">
        <div class="patietnt-list__container">
          <img src="../img/silhouette_48.png">

          <div class="patietnt-list__content">
            <h2>{{patietnt.name}} {{patietnt.age}}</h2>

            <p>{{patietnt.MRN}}</p>

            <p>Room Number: {{patietnt.roomNumber}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
