<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a critical lab result.
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Location</div>
      <div class="item item-body">
          <div class="current-location__container" id="currentLocation" data-tap-disabled="true"><span>Latitude: {{currentLocation.lat}}</span> <span>Longitude: {{currentLocation.long}}</span> </div>
      </div>
    </div>
  </ion-content>
</ion-view>
