<ion-view view-title="Patients">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="patietnt in patietnts.all track by $index" item="item" href="#/app/playlists/{{playlist.id}}">
        <div class="patietnt-list__container">
          <img ng-src="{{patietnts.face}}">

          <div class="patietnt-list__content">
            <h2>{{patietnt.name}} {{patietnt.age}}</h2>

            <p>{{patietnt.MRN}}</p>

            <p>Room {{patietnt.roomNumber}}</p>

          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="4%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
