ListView {
    margin: 5;
    opacity: 0;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 5;
    border-style: solid;
    border-color: #034793;
}
TabViewItem title{
    font-size: 10;
}
Image {
    margin: 10;
}
.room{
    margin-top: 20;
}
.title{
    font-size: 10;
}
.roundedImage{
    border-radius: 50;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
}
