.st-tab_second .tab-item{
  padding: 15px 0;
}
.st-tab_second .tab-item > span{
  font-size: 150%;
}
div[class*='__container']{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.patietnt-list__container img{
  border-radius: 50%;
}
.patietnt-list__container img, .patietnt-list__content{
  align-self: center;
}
.patietnt-list__content{
  padding-left: 15px;
}
.bar.bar-royal {
  border-color: #3A5EAA;
  background-color: #3A5EAA;
  background-image: linear-gradient(0deg, #3A5EAA, #3A5EAA 50%, transparent 50%);
  color: #fff;
}
.pane, .view{
  background: #D4D2D3;
}
